.bubble_wrapper {
  display: flex;
  margin-bottom: min(1.2vw, 3rem);
}

.bubble_user {
  justify-content: flex-end;
}

.bubble_assistant {
  justify-content: flex-start;
}

.bubble {
  max-width: 60%;
  padding: min(1.5vw, 2.6rem) min(2.4vw, 3.4rem);
  border-radius: 999px;
  font-size: min(1.1vw, 3.4rem);
  line-height: 1.5;
}

.bubble_user .bubble {
  background-color: var(--color-primary-bg);
}

.bubble_assistant .bubble {
  background-color: var(--color-primary-yellow);
}

.loader {
  display: flex;
  gap: 0.4em;
}

.loader span {
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background: #555;
  animation: bounce 0.9s infinite alternate;
}

.loader span:nth-child(2) {
  animation-delay: 0.15s;
}
.loader span:nth-child(3) {
  animation-delay: 0.3s;
}

@keyframes bounce {
  from {
    transform: translateY(0);
    opacity: 0.4;
  }
  to {
    transform: translateY(-0.3em);
    opacity: 1;
  }
}
.bubble_error {
  background: #ffdddd !important;
  color: #b00000;
  border: 2px solid #ff7777;
}
