:root {
  --color-primary-bg: #fffadc;
  --color-primary-red: #e30613;
  --color-primary-black: #000000;
  --color-primary-yellow: #ffdd0e;

  --z-overlay: 20;
  --z-message-box: 30;
  --z-emoji: 10;
  --z-upper-overlay: 40;
}

html {
  height: 100%;
}

body {
  height: 100%;
}
