.content_wrapper {
  width: 100vw;
  height: 100vh;

  padding-top: min(3%, 8rem);

  display: flex;
  flex-direction: column;
  align-items: center;
}
.lower_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 3vh;
}
.folder_image_wrapper {
  position: absolute;
  width: min(30vw, 35rem);
  aspect-ratio: 1/1;
  left: 9vw;
  top: 23vh;
  z-index: var(--z-upper-overlay);
}
.drop_zone {
  transition: filter 0.3s ease;
  border-radius: 2rem;
}

.drop_zone_active {
  filter: brightness(1.1);
}
