.content_wrapper {
  width: 100%;
  height: 100%;

  padding-top: min(3%, 8rem);

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: min(14%, 18rem);
}

.menu_container {
  width: 100%;
  height: min(44%, 66rem);
  gap: min(4%, 6rem);

  display: flex;
  justify-content: center;
}

.menu_box {
  width: min(16%, 55rem);
  height: min(100%, 66rem);

  padding: min(2%, 4.25rem);

  display: flex;
  justify-content: space-between;
  background-color: var(--color-primary-bg);

  border-style: solid;
  border-color: var(--color-primary-red);
  border-width: min(12px, 2rem);
}

.menu_image {
  width: 100%;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}
