.content_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: (10%, 9rem);
}

.menu_container {
  display: flex;
  gap: min(4%, 6rem);
  width: 100%;
  height: 40%;
  justify-content: center;
}
.menu_box {
  display: flex;
  padding: min(2%, 4.25rem);
  width: min(16%, 55rem);
  height: min(100%, 66rem);
  justify-content: space-between;
  background-color: var(--color-primary-bg);

  border-style: solid;
  border-color: var(--color-primary-red);
  border-width: min(12px, 2rem);
}
.menu_image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;

  transition: transform 0.3s ease-in-out;
}
.menu_image:hover {
  transform: scale(1.1);
}
