.content_wrapper {
  position: relative;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: min(3%, 8rem);
}
.character_wrapper {
  width: 100%;
  gap: min(10%, 12rem);
  justify-content: center;
  display: flex;

  padding-top: min(3%, 8rem);
}

.emoji_wrapper {
  position: absolute;
  width: min(6vw, 28.125rem);
  aspect-ratio: 1/1;
  z-index: var(--z-emoji);
}

.emoji_burger {
  top: min(79%, 107rem);
  left: min(23%, 51rem);
}

.emoji_onion {
  top: min(35%, 48rem);
  left: min(74%, 186rem);
}

.emoji_bacon {
  top: min(47%, 63rem);
  left: min(26%, 56rem);
}

.emoji_tomato {
  top: min(70%, 90rem);
  left: min(6%, 11rem);
}
.emoji_bread {
  top: min(40%, 54rem);
  left: min(8%, 19rem);
}
.emoji_bread {
  top: min(40%, 54rem);
  left: min(8%, 19rem);
}
.emoji_lettuce {
  top: min(53%, 68rem);
  left: min(84%, 208rem);
}
.emoji_fire {
  top: min(80%, 109rem);
  left: min(70%, 174rem);
}
.emoji_cheese {
  top: min(75%, 101rem);
  left: min(88%, 208rem);
}
.emoji_burger1 {
  top: min(58%, 74rem);
  left: min(68%, 164rem);
}
