.button_wrapper {
  width: min(20vw, 50rem);
  font-size: min(1.6vw, 5rem);
  border: none;
  border-radius: 5.9rem;
  line-height: 80%;
  z-index: var(--z-upper-overlay);
}

.white {
  background-color: var(--color-primary-bg);
}
.yellow {
  background-color: var(--color-primary-yellow);
}
.s {
  width: min(10vw, 25rem);
  font-size: var(--font-size-small);
}
