.cover_container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 110px;

  padding-block: 150px;

  max-width: 60vw;
  height: 100%;
  box-sizing: border-box;

  margin: 0 auto;
}

.cover_background {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.80);
}

.cover_title {
  background-color: var(--color-primary-yellow);

  text-align: center;
  font-size: var(--font-size-large);
  font-weight: 700;
  line-height: 150%;

  padding: 46px 216px;
  margin: 0;
}

.cover_keywords_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.cover_keywords_container_heading {
  color: var(--color-primary-white);
  text-align: center;
  font-size: var(--font-size-medium);
  font-weight: 600;
  line-height: 150%;

  padding: 0;
  margin: 0;
}

.cover_keywords_container_list {
  display: flex;
  justify-content: center;
  gap: 54px;

  margin: 0;
  padding: 0;
  list-style: none;
}

.cover_keywords_container_list_item {
  background-color: var(--color-primary-yellow);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  text-align: center;
  font-size: var(--font-size-medium);
  font-weight: 700;
  line-height: 170%;

  padding: 30px 48px;

  border-radius: 86px;
}

.cover_detail_box_container {
  position: relative;
}

.cover_next_button {
  position: absolute;
  bottom: 0;
  right: -142px;
  transform: translateX(100%);
}