.content_wrapper {
  width: 100%;
  height: 100%;

  padding-top: min(3%, 8rem);

  display: flex;
  flex-direction: column;
  align-items: center;
}
.burger_wrapper {
  position: relative;
  width: min(28vw, 78rem);
  height: min(35vw, 118rem);
}
.lower_container {
  display: flex;
}
.burger_button_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
