.content_wrapper {
  width: 100%;
  height: 100%;

  padding-top: min(3%, 8rem);

  display: flex;
  flex-direction: column;
  align-items: center;
}
.burger_wrapper {
  position: relative;
  width: min(28vw, 78rem);
  height: min(32vw, 118rem);
}
.lower_container {
  display: flex;
  z-index: var(--z-message-box);
}
.burger_button_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bg_overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
