@import "../../global.css";

.textContainer {
  background-color: var(--color-primary-yellow);
  padding: min(5vw, 0.5rem);
}
.s {
  width: min(60vw, 143rem);
  height: auto;
}
.s .text {
  font-weight: 600;
  font-size: min(1.4vw, 4.3rem);
}
.m {
  width: min(75vw, 174rem);
}
.m .text {
  font-size: min(1.2vw, 3.75rem);
}
.text {
  line-height: 70%;
  text-align: center;
}
