.content_wrapper {
  width: 100vw;
  height: 100vh;

  padding-top: min(3%, 8rem);

  display: flex;
  flex-direction: column;
  align-items: center;
}
.small_character_wrapper {
  position: absolute;
  bottom: 0;
  left: 4vw;
  z-index: var(--z-message-box);
}

.input_form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.chat_input {
  width: 75%;
  border: none;
  outline: none;
  background: transparent;

  color: inherit;
  font: inherit;

  padding: 0;
  margin: 0;
}

.chat_input::placeholder {
  color: rgba(68, 65, 65, 0.7);
}
