.heading_text_box {
  border-radius: 163px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

  box-sizing: border-box;
  width: 80vw;
  height: 326px;
  
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: var(--font-size-large);
  font-weight: 400;
  word-break: keep-all;
  text-align: center;
  text-wrap: balance;

  margin: 0;
  padding: 0 170px;
}

.bg {
  background: var(--color-primary-bg);
}
.yellow {
  background: var(--color-primary-yellow);
}