.small_text_box {
  background: var(--color-primary-bg);
  border-radius: 96px;
  padding: 36px 120px;
  font-size: var(--font-size-large);
  font-weight: 400;
  line-height: 150%;
  text-align: center;
}